#data{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
    background-color: aliceblue;
 }
 #data div{
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: white;
     border-radius: 2%;

    
 }
 img{
     width: 40%;
 }