/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,300&display=swap');

/* pooja css -1sr */
*{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}
body{
/* width: 100%; */
background-color: #f7f7f7;
}
ul li{
list-style: none;
font-family: 'Source Sans Pro', sans-serif;
color: #3c3c3c;
}
a{
text-decoration: none;
}
 h1{
font-family: 'Roboto', sans-serif;
}
h2{
font-family: 'Roboto', sans-serif;
}
p{
font-family: 'Roboto', sans-serif;
    color: #3c3c3c;


}
.clear{
clear: both;
}
#navbar{
/* width: 100%; */
box-sizing: border-box;
height: 87px;
background-color:white ;
border-bottom: 1px solid #d3cfcf;

/* border:1px solid red; */
}
#navbar .container{
width: 85%;
margin: auto;
display: flex;
/* border:1px solid red; */
}
.logo img{
width: 220px;
height: 80px;
}
form{
 margin: 20px 10px 30px 28px;
}
#search{
    border: 1px solid #a0a0a0;
    border-radius: 3px;
    background-color: #f7f7f7;
    color: #3c3c3c;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .55px;
    line-height: 19px;
    margin: 0;
    padding: 10px 10px 10px 39px;
    height: 15px;
    width: 350px;
}
#searchIcon{
position: absolute;
    margin-left: 15px;
    top: 30px;
}
.margin{
margin: 30px 10px;
display: flex;
font-size: 14px;
cursor: pointer;
}

.borderLine{
border: 1px solid rgb(112, 109, 109);
height: 15px;
margin: 28px 0px;
}

.margin:hover{
 color: #00a0a0;
}
.fa-user-o{
margin: 0px 3px;
}

.arrow{
font-weight: lighter;
width: 3px;
color: rgb(112, 109, 109);
margin: 0px 10px;
}
.arrow:hover{
 color: #00a0a0
}
.userBox {
display: flex;
}
.userLogin{
z-index: 9999999;
position: absolute;
width: 330px;
height: 125px;
background-color: whitesmoke;
display: none;
margin-top:30px;
right: 21rem;
}
.userLogin > button{
display: block;
padding: 14px;
width: 310px;
margin: 10px 10px;
cursor: pointer;
font-size: 13px;
}
.userLogin > button:nth-child(1){
background-color: #00afae;
border: 1px solid #00c2c1;
}
.margin:hover > .userLogin {
display: block;
}
#cartItem {
margin: 26px 15px;
color: rgb(112, 109, 109);
width: 30px !important;
position: absolute;
cursor: pointer;
}
#cartOnNum{
position: relative;
margin: 35px 35px;
color: rgb(112, 109, 109);
font-size: 12px;
width: 18px;
height: 18px;
border: 1px solid white;
border-radius: 50px;
background-color: chocolate;
color: white;
text-align: center;
padding-top: 2px;
cursor: pointer;

}
.cartShowsItem{
display: flex;
}
.cartAdd{
background-color: whitesmoke;
z-index: 9999999;
width: 280px;
margin-top:70px;
right: 25rem;
padding: 10px;
display: none;
cursor: pointer;
}
.cartAdd p{
text-align: center;
margin: 5px 15px;
}
.cartAdd > button{
padding: 14px;
width: 260px;
margin: 10px 10px;
cursor: pointer;
font-size: 13px;
}
 #cartItem:hover > .cartAdd {
display: block;
}
/* aftar navbar categories part */

 #categories{
/* margin-top: 10px; */
top:0;
position: sticky;
background-color:white;
border-bottom: 1px solid #d3cfcf;
display: flex;
z-index: 999999;
}

#categories .container{
 /* border: 1px solid green; */
width: 73%;
height: 50px;

display: flex;
margin-left: 155px;
}

#catLinks {
/* border: 1px solid green; */
display: flex;
justify-content: space-between;
width: 100%;
}

#catLinks li {
margin:5px;
font-size: 14px;
padding-left: 10px;
margin-top: 15px;
}

#catLinks  li a{
color: black;
}
#catLinks li:hover{
 color: #00a0a0;
cursor: pointer;
}

#catLinks li .dropdown{
top: 2rem;
position: absolute;
width: 250px;
height: 200px;
background-color: whitesmoke;
}
li .dropdown{
margin-top: 10px;
display: none;
}
li .dropdown li{
display: block;
float: none;
cursor: pointer;
}
#catLinks li:hover .dropdown{
display: block;
}
#catLinks:hover .dropdown li{
margin: 10px;
font-size: 14px;
}

.rightPart{
/* border:1px solid red; */
display: flex;
font-size: 13.5px;
width: 260px;
margin-left: 100px;
margin-top: 5px;

}
.rightPart .consult{
width: 100px;
height:30px ;
display: flex;
background-color: #d8faf9;
border-radius: 4px;
margin-left: 40px;
}
.rightPart .consult p{
    text-align: center;
    margin-top: 7px;
    font-weight: 900;

}

.rightPart .consult i{
margin: 8px 7px;

}

.rightPart .findStore {
width: 100px;
height:30px ;
display: flex;
background-color: #e3e3e3;
border-radius: 4px;
margin-left: 20px;
}
.rightPart .findStore p{
    text-align: center;
    margin-top: 7px;
    font-weight: 600;


}
.rightPart .findStore i{
    margin: 8px 7px;
}

/* CARSOUEL PART */
#carousel{
width: 97%;
margin: auto;
/* background-color: #e3e3e3; */
}
#carousel img{
width: 100%;
margin: auto;
}



/* Pop up */





/* bhargav 1st file */
/* Flash Sale Part */
#FlashSale{

border: 1px solid grey;
border-radius: 4px;
width: 80%;
margin: 20px auto;
/* padding: 20px; */
}
#FlashSale .container{
/* border: 1px solid red; */
background-color: white;
/* margin: 20px 0px; */
/* margin-top: 5px; */
/* margin-left: 30px; */
padding-left: 20px;
height: 65px;
display: flex;
}
#FlashSale .container img{
/* border: 1px solid red; */
height: 25px;
margin: 8px 0;
margin-left:15px;
margin-top: 17px;
padding-left: 5px;
}

#FlashSale .container p:nth-child(2){
/* border: 1px solid red;  */
font-size: 23px;
font-weight: 600;
padding: 15px 15px;
margin-right: 20px;

}

#FlashSale .container p:nth-child(3){
border: 1px solid #00c2c1;
background-color: #00c2c1;
padding: 10px;
font-size: 16px;
border-radius: 3px;
margin: 11px;
margin-left: 840px;
}

#FlashSale hr{
    width: 90%;
    margin: auto;
    border: 0.001em solid #bababa;
    border-radius: 0.01em;
}

#FlashSale .container a{
color: #f7f7f7;
padding:  20px;
}
#data{
    width: 96%;
        /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* gap: 0.5%; */
    margin: auto;
    
     

 }
 #data div{
/* border: 1px solid red; */
margin: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: white;
     border-radius: 8px;
     height: 370px;
 }
 #data img{
     width: 60%;
     height: 150px;
     
 }
#data button{
width: 30%;

}


/* Srinivs 1st file*/
/* /* What are you looking for? */


      #grid {
          display:grid;
          grid-gap:30px;
          grid-template-columns:250px 250px 250px 250px;
          height: 200px;
          margin-bottom: 30px;

      }
  .h1{
          font-weight: 900;
          margin: auto;
          color: black;
          margin-bottom: 30px;
      }
      #grid  div {
        border-radius: 10px;
        background-color:whitesmoke;

      }
      #grid_box img {
           float: right;

       }
       #grid_box > h3 {
           float:left;
           line-height: 21px;
           clear: both;
       }
       #grid_box a {
            float:left;
            font-family: sans-serif;
            font-weight: 800;
            margin-bottom: 20px;
            clear: both;
       }

       #cl{
           clear: both;
           margin-bottom: 220px;
       }
       #sports {
        background-color:white;
        height: 320px;
        margin-bottom: 50px;

       }
      .second {
        width:97%;
        background-color:whitesmoke;
        border-radius: 10px;
        padding-bottom: 1px;
        padding-top: 1px;
        margin-bottom: 10px;
      }
      #pop {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-gap: 20px;
        background-color:white;
        float: left;


      } #pop div {
        background-color:whitesmoke;
        padding-top: 10px;
        border-radius: 10px;
        text-align: center;

      }