    *{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    }

    ul li{
    list-style: none;
    }
    .clear{
    clear: both;
    }
    #navbar{
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    background-color:white ;
    border-bottom: 1px solid #d3cfcf;
    }
    #navbar .container{
    padding:5px 10%;
    display: flex;
    }
    .logo img{
    width: 197px;
    /* height: 60px; */
    }
    form{
     margin: 20px 10px 30px 28px;
    }
    #search{
        border: 1px solid #a0a0a0;
        border-radius: 3px;
        background-color: #f7f7f7;
        color: #3c3c3c;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: .55px;
        line-height: 19px;
        margin: 0;
        padding: 5px 10px 5px 39px;
        height: 15px;
        width: 250px;
    }
    #searchIcon{
    position: absolute;
        margin-left: 15px;
        top: 33px;
    }
    .margin{
    margin: 30px 10px;
    display: flex;
    font-size: 13px;
    cursor: pointer;
    }
    .borderLine{
    border: 1px solid rgb(112, 109, 109);
    height: 15px;
    margin: 28px 0px;
    }
    
    .margin:hover{
     color: #00a0a0
    }
    .fa-user-o{
    margin: 0px 3px;
    }
    
    .arrow{
    font-weight: lighter;
    width: 3px;
    color: rgb(112, 109, 109);
    margin: 0px 10px;
    }
    .arrow:hover{
     color: #00a0a0
    
    }
    #cartItem {
    margin: 18px 15px;
    font-size: 30px !important;
    color: rgb(112, 109, 109);
    }
    /* aftar navbar categories part */
    #categories{
    top:0;
    background-color:white ;
    position: sticky;
    width: 100%;
    border-bottom: 1px solid #d3cfcf;
    display: flex;
    z-index: 999999;
    }
    #categories .container{
    display: flex;
    margin:10px 190px;
    }
    #catLinks {
    display: flex;
    
    }
    #catLinks li {
    margin:5px 18px;
    font-size: 13.5px;
    }
    #catLinks   ul li{
    position: relative;
    }
    
    #catLinks li:hover{
     color: #00a0a0;
    cursor: pointer;
    }
    .dropdown{
    margin-top: 1rem;
    text-transform: none;
    display: none;
    position: absolute;
    width: 250px;
    height: 300px;
    background-color: whitesmoke;
    }
    #catLinks:hover .dropdown{
    display: block;
    }
    #catLinks:hover .dropdown li{
    margin: 10px;
    }
    .rightSideContaint{
    margin: 0px 80px;
    }
    .rightPart{
    display: flex;
    margin: 0px 10px;
    font-size: 13.5px;
    }
    .rightPart .consult{
    margin: 0px 10px;
    display: flex;
    background-color: #d8faf9;
    padding: 5px;
    border-radius: 4px;
    font-weight: 700;
    
    }
    .rightPart .consult i{
    margin: 1px 5px;
    }
    .rightPart .findStore {
    margin: 0px 10px;
    display: flex;
    background-color: #e3e3e3;
    padding: 5px;
    border-radius: 4px;
    }
    .rightPart .findStore i{
    margin: 1px 5px;
    }
    

.cont{
    background: #f7f5f5;
    padding: 5px;
}
#container {
    /* max-width: 1000px; */
    margin: auto 10%;
    display: grid;
    grid-template-columns: 20% 75%;
    grid-gap: 5%;
    
}
#offers_filt{
    height : 200px;
    overflow-y: scroll;
    border: 1px solid rgb(184, 184, 184);
    background: white;

    padding: 5px;
}

#simple-box {
    border: 1px solid rgb(184, 184, 184);
    padding: 5px;
    background-color: white;
}
#filters{
    display : grid;
    grid-gap : 5px;
}
#grid-row {
    display : grid;
    grid-template-columns: 50% 40%;
    grid-gap: 10%;
}

#float-left{
    float: left;
   
}
#float-right{
    float: right;
}

#discount-filter{
    clear : left;
}

#items {
    display : grid;
    grid-template-columns :32% 32% 32%;
    grid-gap: 3%;
    font-family: roboto, arial, helvetica, sans-serif;
    font-weight: bold;
 
    
}
#items > div{
    background-color: white;
    padding: 10px;
    display : grid;
}

img{
    width: 100%;
}
#items > div >div {   /*price_quick*/
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 8%;
    /* margin: auto auto; */
}
#items > div >div > span {
   
    font-size: 18px;
}
#items > div > span {  /* */

    font-size: 12px
   
}
#items > div > b {   /* Product name */
  
    font-size: 15px;
   
}

#items button{
    border: 1px solid  rgb(0, 148, 148);
    border-radius: 4px;
    height: 30px;
    font-size: 12px;
    font-weight:600;
    background-color: white;
    color: rgb(0, 148, 148);
}