/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,300&display=swap');

/* pooja css -1sr */
*{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}
body{
/* width: 100%; */
background-color: #f7f7f7;

}
ul li{
list-style: none;
font-family: 'Source Sans Pro', sans-serif;
color: #3c3c3c;
}
a{
text-decoration: none;
}
 h1{
font-family: 'Roboto', sans-serif;
}
h2{
font-family: 'Roboto', sans-serif;
}
p{
font-family: 'Roboto', sans-serif;
    color: #3c3c3c;
}
.clearDiv{
clear: both;
}

.wish{
    margin: 20px 20%;
    line-height: 29px;
    box-shadow: 0px 0px 18px rgba(33,33,33,.2);
    padding: 15px;
    
}
#count {
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
    border-bottom: 1px solid rgb(211, 208, 208);
    border-width: 100%;
}

#data > div {
    display :grid;
    grid-template-columns: 30% 60%;
    grid-gap: 10px;
    padding: 5px;
    background-color: white;
    margin: 10px auto;
}

#data > div > span{
    display: grid;
}

#data > div:hover {
    box-shadow: 0px 0px 18px rgba(33,33,33,.2);
  }

img {
    width: 120px;
}

button {
    padding: 5px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 10px;
}
#data > div  ~div{
    display: grid;
}
